@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

:root {
    --framboise: #EB455F;
    --light-blue: #BAD7E9;
    --dark-blue: #2B3467;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Dancing Script', cursive;
}

h2 {

    font-size: 2.5vw;
    margin: 30px;
    color: var(--dark-blue);
}

p,
span,
li,
a,
input,
textarea,
button {
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.6vw;
}

/*HEADER*/
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar {
    height: 60px;
    background-color: #fef7e5;
    position: relative;
}

.nav-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-elements ul li a {
    font-size: 16px;
    font-weight: 400;
    color: #2f234f;
    text-decoration: none;
    margin: 0 10px;
}

.nav-link:hover {
    color: blue;
}

.active {
    font-weight: bold;
    background-color: green;
}

/*HOME PAGE*/
.home {
    background-image: url('./annexe/images/photographe.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home h1 {
    color: var(--framboise);
    text-shadow: 6px 5px 14px var(--light-blue);
    font-size: 5vw;
}

/*GALERY PAGE*/
.galery {
    position: absolute;
    top: 18vh;
    left: 0;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.galery .card {
    background-color: #EB455F;
    width: 25vw;
    height: 25vh;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.galery img {
    width: 50%;
    height: auto;
    border-radius: 30%;
}


/*PRICE PAGE*/
.price {
    position: absolute;
    top: 18vh;
    left: 0;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 30px;
}

.price .price-detail {
    border: 1px solid var(--framboise);
    border-radius: 10px;
    height: auto;
    width: 40%;
    margin: 10px;
    padding: 10px;

}

/*CONTACT PAGE*/
.contact {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contact form {
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 60%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 8px 11px 18px 6px var(--dark-blue);
}

form h2 {
    text-align: center;
    color: var(--framboise);
    margin-bottom: 20px;
}

form input,
textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: 0;
    border-radius: 15px;
}

form button {
    background-color: var(--dark-blue);
    color: var(--light-blue);
    border: 1px solid var(--framboise);
    padding: 15px;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    margin: 20px auto 0;
    border-radius: 30px;
    transition: all 0.5s ease-in;
}

form button:hover {
    border: 1px solid var(--dark-blue);
    background-color: var(--framboise);
    color: var(--dark-blue);
}

/*RESPONSIVE*/

@media screen and (max-width:425px) {
    .galery .card {
        flex-direction: column;
    }
}