@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

:root {
    --framboise: #EB455F;
    --beige: #FCFFE7;
    --light-blue: #BAD7E9;
    --dark-blue: #2B3467;
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height)*3 + var(--hamburger-gap)*2);
    --foreground: #333;
    --background: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Dancing Script', cursive;
}

p,
span,
li,
a {
    font-family: 'Maven Pro', sans-serif;
}

/*HEADER*/
header {
    height: 10vh;
    width: 100vw;
    background-color: var(--dark-blue);
}

.hamburger-menu {
    display: none;
}

.sidebar nav ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 5vh;
    padding: 0 5vw;
    transition: all var(--animation-timing);
}

.sidebar nav ul li a:hover {
    color: var(--framboise);
    font-weight: bold;
}

.sidebar a {
    color: var(--light-blue);
    letter-spacing: 4px;
}

@media all and (max-width:480px) {
    header {
        background-color: transparent;
    }

    .hamburger-menu {
        --x-width: calc(var(--hamburger-height)*1.41421356237);
        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        width: max-content;
        position: absolute;
        top: var(--hamburger-margin);
        left: var(--hamburger-margin);
        z-index: 5;
        cursor: pointer;
    }

    .hamburger-menu:has(input:checked) {
        --foreground: white;
        --background: #333;
        z-index: 45;
    }

    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--foreground);
        border-radius: 9999px;
        transform-origin: left center;
        transition: opacity var(--animation-timing), transform var(--animation-timing), width var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
    }

    .hamburger-menu input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }

    .hamburger-menu:has(input:checked)::before {
        transform: rotate(45deg);
        width: var(--x-width);
        translate: 0 calc(var(--bar-height)/-2);
    }

    .hamburger-menu:has(input:checked)::after {
        transform: rotate(-45deg);
        width: var(--x-width);
        translate: 0 calc(var(--bar-height)/2);
    }

    .hamburger-menu input:checked {
        opacity: 0;
        width: 0;
    }

    .sidebar {
        transition: transform var(--animation-timing);
        transform: translate(-100%);
        padding: 0.5rem 1rem;
        padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
        background-color: var(--foreground);
        color: var(--background);
        max-width: 10rem;
        min-height: 100vh;
    }

    .hamburger-menu:has(input:checked)+.sidebar {
        transform: translate(0);
    }

    .sidebar a {
        color: var(--light-blue);
    }

}

/*HOME PAGE*/
/*GALERY PAGE*/
/*PRICE PAGE*/
/*CONTACT PAGE*/